<a href="https://colab.research.google.com/github/Alexz330/curso-de-machine-learning/blob/main/Intruduccion_a_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
series = pd.Series([5,10,15,20,35])
series

0     5
1    10
2    15
3    20
4    35
dtype: int64

In [ ]:
type(series)

pandas.core.series.Series

In [ ]:
series[3]

20

In [ ]:
cad =  pd.Series(['p', '1','a','t','z','i' ])
cad

0    p
1    1
2    a
3    t
4    z
5    i
dtype: object

In [ ]:
lst = ["hola","mundo","Robotico"]
df = pd.DataFrame(lst)
print(df)

          0
0      hola
1     mundo
2  Robotico

In [ ]:
data = {
        "Nombre":["juan", "Ana", " jose", "Arturo",],
        "Edad":[25,18,23,27],
        "pais":["MX", "CO", "BR","MX" ]
        }
df =  pd.DataFrame(data)
df

   Nombre  Edad pais
0    juan    25   MX
1     Ana    18   CO
2    jose    23   BR
3  Arturo    27   MX

In [ ]:
print(df[["Nombre", "pais"]])

   Nombre pais
0    juan   MX
1     Ana   CO
2    jose   BR
3  Arturo   MX

In [ ]:
data=pd.read_csv('canciones2018.csv')
data.head(5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [ ]:
artista = data.artists
artista[5]

'Post Malone'

In [ ]:
info =  data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [ ]:
data.tail

<bound method NDFrame.tail of                        id  ... time_signature
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
..                    ...  ...            ...
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[100 rows x 16 columns]>

In [21]:

data.shape

(100, 16)